*{
    margin: 0px;
}

body{
    margin: 0px;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.container{
    width: 100vw;
    height: 100vh;
    --border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img{
    background-image: url('../HOMOLOGA/img/background_login.png') ;
    --background-image: url('img/login2.png') ;
    background-repeat: no-repeat;
    background-size:  100vw 100vh;
    background-color: #0b34b7;
}

.acao{
    display: flex;
    background-color: white;
    width: 950px;
    height: 70%;
    border-radius: 15px;
    --flex-direction: inline;
    justify-content: center;
    align-items: center;
    border: 6px solid #041E9B; 
}

.escolhas{  
    margin-top: -80px;
    display: flex;
    background-color: white;
    width: 950px;
    height: 15%;
    border-radius: 15px;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    border: 6px solid #041E9B; 
}

.dropzone{
    margin-left: -50px;
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.dropzone2{
    margin-left: -50px;
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.drag{
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: 1px solid blue;
    width: 100px;
    height: 100px;  
}

.conteudo{
  
    border: 1px solid green;
    width: 50px;
    height: 50px;  
}