*{
  margin: 0;
}

.container{
  width: 100vw;
  height: 100vh;
  --border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.corpo{
  display: flex;
  background-color: white;
  width: 800px;
  height: 800px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 6px solid #041E9B;
}

.img{
  background-image: url('../HOMOLOGA/img/background_login.png') ;
  --background-image: url('img/login2.png') ;
  background-repeat: no-repeat;
  background-size:  100vw 100vh;
  background-color: #0b34b7;
}

.labirinto{
  margin-bottom: -100px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text]{
  border: none;
  border-bottom: 3px solid black;
  font-size: 16px;
  height: 50px;
}

textarea{
  height: 150px;
  width: 250px;
  border: none;
}



/*// -------------------------- OUTRO SCIPRT // */

#options {
  float: right;
}

#start {
  border: 1px solid white;
  border-radius: 5px;
  font-size: large;
  margin: 150px auto;
  padding: 20px;
  width: 220px;
  display: block;
}
#start>div:first-child {
  font-size: 20pt;
  padding-bottom: 1em;
}
.keys {
  font-family: monospace;
}
#start:hover {
  border: 1px solid #000;
}
#startDiv {
  margin-left: -8px;
  position: absolute;
  --width: 100%;
}
#landscape {
  border: 5px solid black;
  display: block;
  margin: auto;
  background-color: rgb(164, 164, 248);
}
.path {
  fill: #2E5FFF;
}
#avatarPath {
  fill: none;
  stroke: #F0A609;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#avatar {
  fill: #F0A609;
}
#goal {
  fill: #D02E2B;
}